h1
{
	color: #228B22 ;
	font-family: "Courier";
	text-align: center;
	

}

body 
{
    color : #FFD700  ;
    font-family: "Courier";
    text-align: center;

}

p
{
    color : #000000;MB 
    font-family: "Courier";
    text-align: center;

}

    table, th
{
	border: 3px solid #CD5C5C;
	border-collapse: collapse;


}

    